<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Torrent Status</title>
		<link rel="stylesheet" type="text/css" href="/static/css/base.css" /> 
  </head>
</html>

<div id="content" class="colMS">
  <h1>Doorstop Torrents</h1>
  <div id="content-main">
    <ul class="object-tools">
      <li><a href="add_torrent" class="addlink">Add Torrent </a></li>
    </ul>

    <div class="module">
      {% if torrent_list %}
      <table>
        <caption>Active Torrents</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Downloaded (MiB)</th>
            <th>Size (MiB)</th>
            <th>Download Rate</th>
            <th>Upload Rate</th>
          </tr>
        </thead>
        {% for torrent in torrent_list %}
          <tr>
            <th scope="row">{{ torrent.name }}</th>
            <td>{{ torrent.completedMiB }}</td>
            <td>{{ torrent.sizeMiB }}</td>
            <td>{{ torrent.down_rate }}</td>
            <td>{{ torrent.up_rate }}</td>
          </tr>
        {% endfor %}
      </table>
      {% else %}
          <p>No torrents are available.</p>
      {% endif %}
    </div>
  </div>

  <!--
  <div id="content-related">
    <div class="module" id="recent-actions-module">
      <h2>Actions</h2>
      <a href="add_torrent" class="addlink">Add Torrent</a>
    </div>
  </div>
  -->
</div>


